.grade-date {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #f8f4e3;
    background-color: #2a2b2a;
    color: #f8f4e3;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
  }
  
  .grade-date__month {
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .grade-date__year {
    font-size: 0.75rem;
  }
  
  .grade-date__day {
    font-size: 1.5rem;
    font-weight: bold;
  }