.new-grade {
  background-color: #788bff;
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  color: #252422;
}

.new-grade button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #ffffff;
  background-color: #002855;
  color: #ffffff;
  border-radius: 12px;
  margin-right: 1rem;
}

.new-grade button:hover,
.new-grade button:active {
  background-color: #27187e;
  border-color: #252422;
  color: #ffffff;
 
}

.new-grade button.alternative {
  border-color: transparent;
  background-color: transparent;
}

.new-grade button.alternative:hover,
.new-grade button.alternative:active {
  background-color: #27187e;
  
}
